
/*****     MAIN     ******/
* {
	font-family: 'Tahoma', 'Raleway', sans-serif;
	margin: 0;
}

.flex {
	display: flex;
	width: 100%;
	font-size: 1.1em;
	transition: .2s ease-out;
}

.flex__dark-mode {
	background: black;
	color: white;
	transition: .2s ease-out;
}


h1 {
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 5px;
}

.header {
	position: absolute;
	top: 2%;
	right: 5%;
}

.header-language {
	width: 26px;
	margin: 2px;
	opacity: .4;
	position: relative;
	z-index: 5;	
}

.header-language-selected {
	opacity: 1;
}



/*****     ASIDE     ******/
.aside {
	border-right: 1px solid gray;
	display: flex;
	height: 100vh;
	position: fixed;
	text-align: center;
	width: 25%;
	justify-content: center;
	align-items: center;
}

.profile {
	width: 95%;
}

.profile-img {
	border-radius: 50%;
	width: 50%;
}

.profile__img-link {
	filter: alpha(Opacity=75);
	margin: 0 2px;
	opacity: 0.80;
	width: 35px;
}

.profile__img-link:hover {
	filter: alpha(Opacity=100);
	opacity: 1;
}

.profile-img,
.profile-header,
.profile-info p {
	margin-bottom: 5px;
}



/*****     ARTICLE     ******/
/*     Exp, Edu, Skills     */
.article {
	display: flex;
	position: fixed;
	height: 100vh;
	margin-left: 26%;
	width: 74%;
	justify-content: center;
	align-items: center;
}

.article__left, 
.article__right {
	display: flex;
	margin: 5px;
}


.article__left {
	width: 65%;
} 

.article__right {
	width: 35%;
	position: relative;
}

.article__header {
	margin-bottom: 3px ;	
}

.experience_educations {
	width: 90%;
}



/*****     TRIFLE     ******/
.right_now {
	font-size: 12px;
	font-style: italic;
}

.social-media a {
	color: white;
	line-height: 1.4;
	padding: 0 5px;
	text-decoration: none;
}

[alt="slack"] {
	width: 20px;
	margin-left: -2px;
	vertical-align: -4px;	
}

.vk {background: #507299;}

.facebook {background: #3B5998;}

.twitter {background: #1da1f2;}

.initial_letter,  
.right_now {color: #F00;}

.skills-open {
	text-decoration: underline gray;
	text-decoration-style: dotted;
	cursor: pointer;
}

.skills-git {
	font-size: 16px;
	margin-left: 10px;
}

.fa {
	margin-right: 3px;
}

.profile-links {
	margin-top: 3px;	
}
.profile-links__a {
	color: black;
	font-size: 30px;
	transition: .2s ease-out;
}

.profile-links__a-dark {
	color: white;
	transition: .2s ease-out;
}

.checkbox__dark-mode {
	position: absolute;
	cursor: pointer;
	top: -18%;
	left: -8%;
	z-index: 0;
}

.checkbox__dark-mode-outer {
	background: gray;
	display: inline-block;
	position: relative;
	width: 44px;
	height: 24px;
	vertical-align: middle;
    border-radius: 14px;
    z-index: 2;
}

.checkbox__dark-mode-inner {
	background: white;
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 2px;
	right: 2px;
    border-radius: 100%;
    z-index: 2;
}

.checkbox__dark-mode-inner-move {
	left: 2px;
}

/*****     for SMALL screen     ******/
@media (max-width: 767px) {
	.aside {
		border: none;
	}

	.profile,
	.experience_educations
	{
		width: 90%;
		margin: 0 auto;
	}	 

	.article ul, h2 {
		text-align: center;
	}

	.flex, 
	.aside, 
	.article, 
	.article__left, 
	.article__right {
		display: block;
		width: 100%;
		position: static;
		margin: 0;
		height: auto;
	}

	.profile-img {display: none;} 

	.header {
	position: absolute;
	top: 0;
	right: 2%;
	}

}

@media (max-width: 500px) {
	.header {
		display: none;
	}
}