* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

li {
	text-align: left;
}

h2 {
	font-weight: normal;
	margin-bottom: 0.2em;
}

a {
	text-decoration: none;
}

td {
	padding: 2em;
}

.me-outer {
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    background-color: black;
}

.me-inner {
    line-height: 1.5em;
    vertical-align: middle;
    display: inline-block;
    color: white;
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
}
.me {
	height: 100vh;
	background-color: lightgray;
	font-family: 'Trirong', serif;
}

.about-outer {
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    background-color: lightgray;
}

.about-inner {
    line-height: 1.5em;
    vertical-align: middle;
    display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
}
